body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background-color: #efefef;
}

div.selected {
	min-width: 80%;
	display: block;
}

div.capitol_box {
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 120px;
	display: block;
	text-align: center;
	padding: 0.5em 2em;
	margin: 0.5em 0.25em;
	float: left;
}

div.remove_capitol {
	font-weight: bold;
	text-align: center;
	float: right;
	padding: 0px 2px;
}

a.remove_capitol {
	text-decoration: none;
	color: #333333;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#distributed, #native {
	border: none;
	empty-cells: collapse;
	min-width: 760px;
}

#distributed th, #distributed td, #native th, #native td {
	padding: 0.25em 0.5em;
}

.dist_table {
	display: table;
	float: left;
}

.dist_row {
	display: table-row;
}

.dist_col {
	display: table-column;
}

.dist_cell, .dist_header {
	display: table-cell;
	padding: 0.25em 0.5em;
	border: 0.01em solid #efefef;
	min-width: 10em;
}

.dist_header {
	font-weight: bold;
	text-align: center;
}